<div class="custom-footer main-footer">
  <div class="row menus">
    <div class="citizen-participation">
      <h3><%= t('footer.menus.citizen_participation.title') %></h3>
      <p><%= link_to t('footer.menus.citizen_participation.portals'), "https://prvparticipacio.mallorca.es/ca/listado-portales-de-participacion-ciudadana" %></p>
      <p><%= link_to t('footer.menus.citizen_participation.processes'), "/processes" %></p>
      <p><%= link_to t('footer.menus.citizen_participation.budgets'), decidim.root_path %></p>
      <p><%= link_to t('footer.menus.citizen_participation.help'), "https://prvparticipacio.mallorca.es/ca/ayuda/participacion-ciudadana" %></p>
      <p><%= link_to t('footer.menus.citizen_participation.voting'), "/assemblies" %></p>
      <p><%= link_to t('footer.menus.citizen_participation.news'), "https://prvparticipacio.mallorca.es/ca/participacio-ciutadana/noticies/all" %></p>
    </div>
    <div class="open-data">
      <h3><%= t('footer.menus.open_data.title') %></h3>
      <p><%= link_to t('footer.menus.open_data.portals'), "https://prvparticipacio.mallorca.es/ca/llistat-de-portals-oberts" %></p>
      <p><%= link_to t('footer.menus.open_data.data_catalog'), "https://prvparticipacio.mallorca.es/ca/portal-dades-obertes/cataleg" %></p>
      <p><%= link_to t('footer.menus.open_data.licenses'), "https://prvparticipacio.mallorca.es/ca/licencias" %></p>
      <p><%= link_to t('footer.menus.open_data.normative'), "https://prvparticipacio.mallorca.es/ca/normativa" %></p>
      <p><%= link_to t('footer.menus.open_data.take_part'), "https://prvparticipacio.mallorca.es/ca/portal-dades-obertes/participa" %></p>
      <p><%= link_to t('footer.menus.open_data.what_is'), "https://prvparticipacio.mallorca.es/ca/que-es-opendata" %></p>
      <p><%= link_to t('footer.menus.open_data.information'), "https://prvparticipacio.mallorca.es/ca/otros-portales-opendata" %></p>
      <p><%= link_to t('footer.menus.open_data.framework'), "https://prvparticipacio.mallorca.es/ca/marco-legal-opendata" %></p>
      <p><%= link_to t('footer.menus.open_data.help'), "https://prvparticipacio.mallorca.es/ca/ayuda/portal-datos-abiertos" %></p>
      <p><%= link_to t('footer.menus.open_data.about'), "https://prvparticipacio.mallorca.es/ca/sobre" %></p>
      <p><%= link_to t('footer.menus.open_data.formats'), "https://prvparticipacio.mallorca.es/ca/formatos" %></p>
      <p><%= link_to t('footer.menus.open_data.stories'), "https://prvparticipacio.mallorca.es/ca/casos-de-exito" %></p>
      <p><%= link_to t('footer.menus.open_data.community'), "https://prvparticipacio.mallorca.es/ca/comunidad-de-usuarios" %></p>
      <p><%= link_to t('footer.menus.open_data.statistics'), "https://prvparticipacio.mallorca.es/ca/estadisticas" %></p>
      <p><%= link_to t('footer.menus.open_data.applications'), "https://prvparticipacio.mallorca.es/ca/portal-dades-obertes/aplicacions/all" %></p>
      <p><%= link_to t('footer.menus.open_data.news'), "https://prvparticipacio.mallorca.es/ca/portal-dades-obertes/noticies/all" %></p>
    </div>
    <div class="transparency">
      <h3><%= t('footer.menus.transparency.title') %></h3>
      <p><%= link_to t('footer.menus.transparency.portals'), "https://prvparticipacio.mallorca.es/ca/listado-portales-transparencia" %></p>
      <p><%= link_to t('footer.menus.transparency.indicators'), "https://consellmallorca.prvtransparencia.mallorca.es/transparencia" %></p>
      <p><%= link_to t('footer.menus.transparency.help'), "https://prvparticipacio.mallorca.es/ca/ayuda/transparencia" %></p>
      <p><%= link_to t('footer.menus.transparency.organizations'), "https://prvparticipacio.mallorca.es/ca/transparencia-organismes-dependents" %></p>
      <p><%= link_to t('footer.menus.transparency.news'), "https://prvparticipacio.mallorca.es/ca/transparencia/noticies/all" %></p>
    </div>
  </div>
</div>
<div class="custom-footer main-footer">
  <div class="row logos">
    <%= image_tag "logo_Ministerio.svg", class: 'logo-ministry' %>
    <%= image_tag "logo_SmartIslandMallorca.svg", class: 'logo-smart' %>
    <%= image_tag "logo_Ciudades.svg", class: 'logo-cities' %>
    <%= image_tag "logo_UE.svg", class: 'logo-ue' %>
  </div>
</div>
