<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t('.title') %>
    </h2>
  </div>
  <div class="card-section">
  <%= form_for @organization, url: consell_mallorca_admin_authorization_config_path, html: { class: 'form' } do |f| %>
    <%= f.text_field :pinbal_user %>
    <%= f.text_field :pinbal_pwd %>
    <%= pinbal_municipio_select(f) %>
    <p class="help-text"><%= t("activerecord.attributes.decidim/organization.pinbal_municipio_help") %></p>
    <%= f.text_field :pinbal_solicitante_identificador_solicitante %>
    <%= f.text_field :pinbal_solicitante_nombre_solicitante %>
    <%= f.text_field :pinbal_solicitante_unidad_tramitadora %>
    <%= f.text_field :pinbal_solicitante_cod_procedimiento %>
    <%= f.text_field :pinbal_solicitante_nombre_procedimiento %>
    <%= f.text_field :pinbal_solicitante_nombre_completo_funcionario %>
    <%= f.text_field :pinbal_solicitante_nif_funcionario %>
    <%= f.text_field :pinbal_solicitante_id_expediente %>
    <%= f.text_field :pinbal_solicitante_finalidad %>
    <%= f.text_field :pinbal_solicitante_consentimiento %>
    <%= f.submit t('.submit') %>
  <% end %>
  </div>
</div>